body,
html {
    height: 100%;
    margin: 0%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

/* TO CSS FILE AFTER */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 320px;
    background-color: white;
    border-radius: 25px;
}

.w3-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.6s;
}

.w3-button {
    text-align: center;
    animation: animateleft 1.5s;
    border-radius: 28px;
}

.close {
    position: absolute;
    top: 235px;
    right: 530px;
    font-size: 20px;
    transform: rotate(45deg);
    border: none;
    background-color: white;
}

input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .submit_login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: block;
  }

 .submit_signup {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .back_to_login {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: 80%;
    justify-content: center;
    align-items: center;
    display: block;
  }

  button:hover {
    opacity: 0.8;
  }