<!DOCTYPE html>
<html>
<title>Canada PR Estimator</title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_crs_style.css')}}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    var crs_form_answers = {{ crs_form_data | tojson }};
    var new_user = "{{ new_user }}"
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/data_improve_crs.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/improve_my_crs_functions.js')}}"></script>
</head>
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Raleway", sans-serif
  }
</style>

<body class="w3-light-grey">
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
        class="fa fa-bars"></i> &#9776; Menu</button>
    <img src="{{ url_for('static', filename = 'image/logo.png')}}"
      style="position:absolute;width:auto;height:100%;top:0px;right:0px;">
    <span class="w3-bar-item w3-right w3-text-black" style="opacity:0;">""</span>
  </div>
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>{{ username }}</strong></span><br>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()"
        title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="{{ url_for('summary', _anchor='My_Score_Analysis')}}" class="w3-bar-item w3-button w3-padding"
        onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i>  My Score Analysis</a>
      <a href="{{ url_for('summary', _anchor='My_Score_Examination')}}" class="w3-bar-item w3-button w3-padding"
        onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i>  My Score Examination</a>
      <a href="{{ url_for('summary', _anchor='path_tree')}}" class="w3-bar-item w3-button w3-padding"
        onclick="w3_close()"><i class="fa fa-bullseye fa-fw"></i>  My Path to PR landing</a>
      <a href="{{ url_for('Improve_My_CRS')}}" class="w3-bar-item w3-button w3-padding"><i
          class="fa fa-users fa-fw"></i>  Simulator</a>
      <a href="{{ url_for('question')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> 
        Assessment</a>
      <a href="{{ url_for('logout')}}" class="w3-bar-item w3-button w3-hover-light-green"><i
          class="fa fa-users fa-fw"></i> 
        Logout</a>
    </div>
  </nav>
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>
  <!-- PAGE CONTENT -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <h3 class="w3-container"><b>Improve My CRS</b></h3>
    <h4 class="w3-container" style="font-style:italic">My Profile At-A-Glance</h4>
    <div id="chart_div1" class="w3-container" style="float:center"></div>
    <!-- buttons (scores in details) -->
    <div class="w3-row-padding w3-margin-bottom">
      <p class="w3-container">Click on the buttons below for more details of each category</p>
      <div class="w3-quarter">
        <div class="w3-container">
          <button class="w3-container w3-red w3-padding-16" style="border-radius:30px;outline:none;width:275px"
            onclick="core_open()">
            <div class="w3-left"></div>
            <h4>A. Core Human Capital</h4>
            <div class="w3-right">
              <h3>
                <script>
                  document.write(Core + ' / ' + single_point);
                </script>
              </h3>
            </div>
            <div class="w3-clear"></div>
          </button>
          <div id="core_details" class="answer_list" style="display:none">
            <script>
              document.write("Age : <strong>" + q3_age + "</strong> <br>");
              document.write("Education : <strong>" + q4_education + "</strong> <br>");
              document.write("First official language : <strong>" + q5_fol_point + "</strong> <br>");
              document.write("Second official language : <strong>" + q5_sol_point + "</strong>  <br>");
              document.write("Canadian work experience : <strong>" + q6_canada_xp + "</strong> ");
            </script>
          </div>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container">
          <button class="w3-container w3-blue w3-padding-16" style="border-radius:30px;outline:none;width:275px"
            onclick="spouse_open()">
            <div class="w3-left"></div>
            <h4>B. Spouse Common-law</h4>
            <div class="w3-right">
              <h3>
                <script>
                  document.write(scorecard_str)
                </script>
              </h3>
            </div>
            <div class="w3-clear"></div>
          </button>
          <div id="spouse_details" class="answer_list" style="display:none;">
            <script>
              document.write("Education : <strong>" + q11_spouse_education + "</strong> <br>");
              document.write("Canadian Work experience : <strong>" + q12_spouse_xp + "</strong> <br>");
              document.write("First official language : <strong>" + q13_spouse_fol + "</strong> ");
            </script>
          </div>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container">
          <button class="w3-container w3-teal w3-padding-16" style="border-radius:30px;outline:none;width:275px"
            onclick="skill_open()">
            <div class="w3-left"></div>
            <h4>C. Skill Transferability</h4>
            <div class="w3-right">
              <h3>
                <script>
                  document.write(Skill + '/100 Points');
                </script>
              </h3>
            </div>
            <div class="w3-clear"></div>
          </button>
          <div id="skill_details" class="answer_list" style="display:none;">
            <script>
              document.write("Language & education : <strong>" + q4_q5 + "</strong> <br>");
              document.write("Canadian experience & education : <strong>" + q4_q6i + "</strong> <br>");
              document.write("Lanuage & foreign experience : <strong>" + q6ii_q5 + "</strong> <br>");
              document.write("Canadian & foreign experience : <strong>" + q6ii_q6i + "</strong> <br>");
              document.write("Certification of qualification : <strong>" + q7_q5 + "</strong> <br>");
            </script>
          </div>
        </div>
      </div>
      <div class="w3-quarter">
        <button class="w3-container w3-orange w3-text-white w3-padding-16"
          style="border-radius:30px;outline:none;width:275px" onclick="bonus_open()">
          <div class="w3-left"></div>
          <h4>D. Additional Points</h4>
          <div class="w3-right">
            <h3>
              <script>
                document.write(Bonus + '/600 Points');
              </script>
            </h3>
          </div>
          <div class="w3-clear"></div>
        </button>
        <div id="bonus_details" class="answer_list" style="display:none;">
          <script>
            document.write("Siblings in Canada : <strong>" + q10_sibling + "</strong> <br>");
            document.write("French language : <strong>" + french + "</strong> <br>");
            document.write("Canadian education : <strong>" + canada_education + "</strong> <br>");
            document.write("Job offer : <strong>" + job + "</strong> <br>");
            document.write("Nomination : <strong>" + nomination + "</strong> <br>");
          </script>
        </div>
      </div>
      <div class="w3-container">
        <h3><b>What if?</b></h3>
        <h5>This section is simulation if you make any improvement/change for your profile</h5>
        <table class="table_simulator_crs">
          <tr>
            <td class="td_simulator_q">Questions</td>
            <td class="th_simulator">Saved response</td>
            <td class="th_simulator">Simulate</td>
            <td class="th_simulator">Simulation Results <br>(Original , <span style="color:#0400ffe0;">Simulated
              </span>, <span style="color:#217334;">+</span>/<span style="color:#FF0000;">-</span> Changes)</td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q1. </span>Marital Status</td>
            <td id="q1_ans" class="td_simulator">
              <script>document.write(q1_resp_converted)</script>
            </td>
            <td id="q1_simul" class="td_simulator">
              <select id="q1" name="q1">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
            <td id="simulate_calculate" class="td_simulator" rowspan="32" style="text-align:left; vertical-align: top;">
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q2i. </span>Spouse PR/Citizen</td>
            <td id="q2i_ans" class="td_simulator">
              <script>document.write(q2i_resp_converted)</script>
            </td>
            <td id="q2i_simul" class="td_simulator">
              <select id="q2i" name="q2i">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q2ii. </span>Spouse Accompanying</td>
            <td id="q2ii_ans" class="td_simulator">
              <script>document.write(q2ii_resp_converted)</script>
            </td>
            <td id="q2ii_simul" class="td_simulator">
              <select id="q2ii" name="q2ii">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q3. </span>Applicant's Age</td>
            <td id="q3_ans" class="td_simulator">
              <script>document.write(q3_resp_converted)</script>
            </td>
            <td id="q3_simul" class="td_simulator">
              <select id="q3" name="q3">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q4. </span>Highest level of Education</td>
            <td id="q4_ans" class="td_simulator">
              <script>document.write(q4_resp_converted)</script>
            </td>
            <td id="q4_simul" class="td_simulator">
              <select id="q4" name="q4">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q4b. </span>Canadian Education?</td>
            <td id="q4b_ans" class="td_simulator">
              <script>document.write(q4b_resp_converted)</script>
            </td>
            <td id="q4b_simul" class="td_simulator">
              <select id="q4b" name="q4b">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q4c. </span>Highest level of Canadian Education
            </td>
            <td id="q4c_ans" class="td_simulator">
              <script>document.write(q4c_resp_converted)</script>
            </td>
            <td id="q4c_simul" class="td_simulator">
              <select id="q4c" name="q4c">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5i. </span>Test result 2 years or less</td>
            <td id="q5i_ans" class="td_simulator">
              <script>document.write(q5i_resp_converted)</script>
            </td>
            <td id="q5i_simul" class="td_simulator">
              <select id="q5i" name="q5i">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5i_a. </span>First language test choice</td>
            <td id="q5ia_ans" class="td_simulator">
              <script>document.write(q5ia_resp_converted)</script>
            </td>
            <td id="q5ia_simul" class="td_simulator">
              <select id="q5ia" name="q5ia">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5i_b_s. </span>First Language Speaking</td>
            <td id="q5ib_s_ans" class="td_simulator">
              <script>document.write(q5ib_s_resp_converted)</script>
            </td>
            <td id="q5ib_simul" class="td_simulator">
              <select id="q5ib_s" name="q5ib_s">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5i_b_l. </span>First Language Listening</td>
            <td id="q5ib_l_ans" class="td_simulator">
              <script>document.write(q5ib_l_resp_converted)</script>
            </td>
            <td id="q5ib_l_simul" class="td_simulator">
              <select id="q5ib_l" name="q5ib_l">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5i_b_r. </span>First Language Reading</td>
            <td id="q5ib_r_ans" class="td_simulator">
              <script>document.write(q5ib_r_resp_converted)</script>
            </td>
            <td id="q5ib_r_simul" class="td_simulator">
              <select id="q5ib_r" name="q5ib_r">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5i_b_w. </span>First Language Writing</td>
            <td id="q5ib_w_ans" class="td_simulator">
              <script>document.write(q5ib_w_resp_converted)</script>
            </td>
            <td id="q5ib_w_simul" class="td_simulator">
              <select id="q5ib_w" name="q5ib_w">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5ii. </span>Second language test choice</td>
            <td id="q5ii_ans" class="td_simulator">
              <script>document.write(q5ii_resp_converted)</script>
            </td>
            <td id="q5ii_simul" class="td_simulator">
              <select id="q5ii" name="q5ii">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5ii_s. </span>Second Language Speaking</td>
            <td id="q5ii_s_ans" class="td_simulator">
              <script>document.write(q5ii_s_resp_converted)</script>
            </td>
            <td id="q5ii_s_simul" class="td_simulator">
              <select id="q5ii_s" name="q5ii_s">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5ii_l. </span>Second Language Listening</td>
            <td id="q5ii_l_ans" class="td_simulator">
              <script>document.write(q5ii_l_resp_converted)</script>
            </td>
            <td id="q5ii_l_simul" class="td_simulator">
              <select id="q5ii_l" name="q5ii_l">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5ii_r. </span>Second Language Reading</td>
            <td id="q5ii_r_ans" class="td_simulator">
              <script>document.write(q5ii_r_resp_converted)</script>
            </td>
            <td id="q5ii_r_simul" class="td_simulator">
              <select id="q5ii_r" name="q5ii_r">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q5ii_w. </span>Second Language Writing</td>
            <td id="q5ii_w_ans" class="td_simulator">
              <script>document.write(q5ii_w_resp_converted)</script>
            </td>
            <td id="q5ii_w_simul" class="td_simulator">
              <select id="q5ii_w" name="q5ii_w">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q6i. </span>Canadian Work Exp Years</td>
            <td id="q6i_ans" class="td_simulator">
              <script>document.write(q6i_resp_converted)</script>
            </td>
            <td id="q6i_simul" class="td_simulator">
              <select id="q6i" name="q6i">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q6ii. </span>Foreign Work Exp Years</td>
            <td id="q6ii_ans" class="td_simulator">
              <script>document.write(q6ii_resp_converted)</script>
            </td>
            <td id="q6ii_simul" class="td_simulator">
              <select id="q6ii" name="q6ii">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q7. </span>Certificate of Qualification</td>
            <td id="q7_ans" class="td_simulator">
              <script>document.write(q7_resp_converted)</script>
            </td>
            <td id="q7_simul" class="td_simulator">
              <select id="q7" name="q7">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q8. </span>LMIA?</td>
            <td id="q8_ans" class="td_simulator">
              <script>document.write(q8_resp_converted)</script>
            </td>
            <td id="q8_simul" class="td_simulator">
              <select id="q8" name="q8">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q8a. </span>LMIA NOC type</td>
            <td id="q8a_ans" class="td_simulator">
              <script>document.write(q8a_resp_converted)</script>
            </td>
            <td id="q8a_simul" class="td_simulator">
              <select id="q8a" name="q8a">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q9. </span>Province Nomination (PNP)</td>
            <td id="q9_ans" class="td_simulator">
              <script>document.write(q9_resp_converted)</script>
            </td>
            <td id="q9_simul" class="td_simulator">
              <select id="q9" name="q9">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q10. </span>Siblings/Partner PR?</td>
            <td id="q10_ans" class="td_simulator">
              <script>document.write(q10_resp_converted)</script>
            </td>
            <td id="q10_simul" class="td_simulator">
              <select id="q10" name="q10">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q11. </span>Spouse Highest Canadian Education</td>
            <td id="q11_ans" class="td_simulator">
              <script>document.write(q11_resp_converted)</script>
            </td>
            <td id="q11_simul" class="td_simulator">
              <select id="q11" name="q11">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q12. </span>Spouse Work Exp</td>
            <td id="q12_ans" class="td_simulator">
              <script>document.write(q12_resp_converted)</script>
            </td>
            <td id="q12_simul" class="td_simulator">
              <select id="q12" name="q12">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q13i. </span>Spouse First Language Test choice
            </td>
            <td id="q13i_ans" class="td_simulator">
              <script>document.write(q13i_resp_converted)</script>
            </td>
            <td id="q13i_simul" class="td_simulator">
              <select id="q13i" name="q13i">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q13ii_s. </span>Spouse First Language Speaking
            </td>
            <td id="q13ii_s_ans" class="td_simulator">
              <script>document.write(q13ii_s_resp_converted)</script>
            </td>
            <td id="q13ii_s_simul" class="td_simulator">
              <select id="q13ii_s" name="q13ii_s">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q13ii_l. </span>Spouse First Language Listening
            </td>
            <td id="q13ii_l_ans" class="td_simulator">
              <script>document.write(q13ii_l_resp_converted)</script>
            </td>
            <td id="q13ii_l_simul" class="td_simulator">
              <select id="q13ii_l" name="q13ii_l">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q13ii_r. </span>Spouse First Language Reading</td>
            <td id="q13ii_r_ans" class="td_simulator">
              <script>document.write(q13ii_r_resp_converted)</script>
            </td>
            <td id="q13ii_r_simul" class="td_simulator">
              <select id="q13ii_r" name="q13ii_r">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="td_simulator_q"><span style="color: #0400ffe0">Q13ii_w. </span>Spouse First Language Writing</td>
            <td id="q13ii_w_ans" class="td_simulator">
              <script>document.write(q13ii_w_resp_converted)</script>
            </td>
            <td id="q13ii_w_simul" class="td_simulator">
              <select id="q13ii_w" name="q13ii_w">
                <option value="badvalue" selected disabled hidden> Select... </option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <div class="w3-container">
        <h3><b>Ways to improve CRS score</b></h3>
        <h5>1. Improve your language scores</h5>
        One of the easiest ways to raise your CRS score is to focus on the language scores. Prepare for language tests
        such as IELTS, if you are able to score a Canadian Language Benchmark (CLB) of 9 in the language test, you can
        get up to 136 direct points under the language section and up to 100 points under the sub-factors of the Skill
        Transferability section. You can also earn up to 24 points by appearing for a language test in French if your
        first language is English and vice versa.
        <h5>2. Apply through Provincial Nominee Program (PNP)</h5>
        If you are nominated by one of the Canadian provinces or territories under Canada’s PNP, you will receive up to
        600 CRS points. This will increase your chances of getting an ITA. You can apply for a Provincial Nominee
        Program before or after you create your Express Entry profile
        <h5>3. Secure LMIA jobs</h5>
        Another way to increase your CRS score and get up to 600 points is to secure a job offer, recognized by the
        Labor Market Impact Assessment (LMIA), from an employer in Canada. This will make a candidate from the Express
        Entry pool more eligible to receive an ITA.
        <h5>4. Make your spouse (wife or common-law partnership) to be primary applicant</h5>
        If you are applying for Canada immigration with your spouse or common-law partner and he/she can score more CRS
        points, it is advised to make them the primary applicant. However, if you have already started your application,
        it is not possible to change the primary applicant in an existing Express Entry profile. So, you will have to
        create a new profile with your partner as the primary applicant and yourself as a dependent.
        <h5>5. Continue working</h5>
        If you have less than three years of full-time work experience, it is ideal to continue working. You will
        receive points under the Skill Transferability section, the more the work experience, the better.
      </div>
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-dark-grey">
      <h4>Last updated on 2022</h4>
      <p>Developed by Paul Kang</p>
    </footer>
  </div>
</body>

</html>