<!DOCTYPE html>
<html>
<title>Canada PR Estimator</title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/start.js')}}" async></script>
  <!-- Inline styling -->
  <style>
    .bg {
      height: 100%;
      background-image:url("{{ url_for('static', filename = 'image/start_bg.png')}}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: opac 1s;
    }
  </style>
</head>

<body>
  <div class="bg w3-display-container w3-animate-opacity w3-text-black">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <img src="{{ url_for('static', filename = 'image/logo.png')}}"
        style="position:absolute;width:auto;height:100%;top:0px;right:0px;">
      <span class="w3-bar-item w3-right w3-text-black" style="opacity:0;">""</span>
    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-right" style="animation:animateright 1.5s;">WELCOME</h1>
      <button id="start_button" class="js-open-modal w3-animate-left w3-button w3-xlarge w3-text-black w3-hover-black"
        style="margin-left:20px;" onclick="terms_condition()">
        Let's get you started
      </button>
    </div>
  </div>

  <div id='terms' class="bg-modal" style="display:none">
    <div class="modal-content">
      <h5 class="w3-container" style="text-align:center">
        <b>Message</b>
      </h5>
      <p class="w3-container" style="width:490px;height:175px;overflow:auto;">
        This tool is designed to help people who are going through pain in their Canadian Permanent Residency
        Application. Hope it helps.
      </p>
      <a>
        <button id='open_login' class="w3-button w3-xlarge w3-text-black w3-hover-blue" style="width: 100%;"
          onclick="login_pop()">Lets Go</button>
      </a>
    </div>
  </div>

  <div id='login_popup' class="bg-modal" style="display:none">
    <div class="modal-content">
      <form action="{{ url_for('login') }}" method="post">
        <label class="w3-container" for="uname">
          <b style="padding-left:20px; float:left;">Username</b>
          <label id="incorrect_username" style="color:red; display:none; padding-left:10px;">Incorrect Username or
            Password</label>
        </label>
        <input class="w3-container" style="width:80%;height:50px;overflow:auto;margin-left:20px;" type="text"
          placeholder="Enter Username (Required)" name="uname" required>

        <label class="w3-container" for="psw">
          <b style="padding-left:20px; float:left;">Password</b>
          <label id="incorrect_password" style="color:red; display:none; padding-left: 10px;">Incorrect Username or
            Password</label>
        </label>
        <input class="w3-container" style="width:80%;height:50px;overflow:auto;margin-left:20px;" type="password"
          placeholder="Enter Password (Required)" name="psw" required>

        <button class = "submit_login" type="submit">Log in</button>
      </form>
      <button class = "submit_signup" type="new_user" id="new_user_tag" onclick="signup_pop()">New User</button>
    </div>
  </div>

  <div id='signup_popup' class="bg-modal" style="display:none">
    <div class="modal-content" style = "height:420px">
      <form action="{{ url_for('signup') }}" method="post">
        <label class="w3-container" for="uname_signup">
          <b style="padding-left:20px; float:left;">New Username</b>
          <label id="account_exists" style="color:red; display:none; padding-left:10px;"> Username already
            registered</label>
          <label id="username_specialChar" style="color:red; display:none; padding-left:10px;">Username must contain
            only characters and numbers!</label>
        </label>
        <input class="w3-container" style="width:80%;height:50px;overflow:auto;margin-left:20px;" type="text"
          placeholder="Enter Username (Required)" name="uname_signup" required>

        <label class="w3-container" for="psw_signup">
          <b style="padding-left:20px; float:left;">New Password</b>
        </label>
        <input class="w3-container" style="width:80%;height:50px;overflow:auto;margin-left:20px;" type="text"
          placeholder="Enter Password (Required)" name="psw_signup" required>

        <label class="w3-container" for="email_signup">
          <b style="padding-left:20px; float:left;">Enter Email</b>
          <label id="email_exists" style="color:red; display:none; padding-left:10px;">This email is being used</label>
          <label id="invalid_email" style="color:red; display:none; padding-left:10px;">Invalid email!</label>
        </label>
        <input class="w3-container" style="width:80%;height:50px;overflow:auto;margin-left:20px;" type="text"
          placeholder="Enter Email (Required)" name="email_signup" required>
        <button class = "submit_signup" type="submit">Sign up</button>
      </form>
      <button class = "back_to_login" type = "back_to_login" onclick = "back_to_login()"> Back to Log in</button>
    </div>
  </div>


  <script>
    var msg = "{{ msg }}";
  </script>

</body>

</html>