<!DOCTYPE html>
<html>
<title>Canada PR Estimator</title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mystyle.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/start.js')}}" async></script>
  <!-- Inline styling -->
  <style>
    .bg {
      height: 100%;
      background-image:url("{{ url_for('static', filename = 'image/start_bg.png')}}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation: opac 1s;
    }
  </style>
</head>

<body>
  <div class="bg w3-display-container w3-animate-opacity w3-text-black">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <img src="{{ url_for('static', filename = 'image/logo.png')}}"
        style="position:absolute;width:auto;height:100%;top:0px;right:0px;">
      <span class="w3-bar-item w3-right w3-text-black" style="opacity:0;">""</span>
    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-right" style="animation:animateright 1.5s;">WELCOME</h1>
      <button id="start_button" class="js-open-modal w3-animate-left w3-button w3-xlarge w3-text-black w3-hover-black"
        style="margin-left:20px;" onclick="terms_condition()">
        Let's get you started
      </button>
    </div>
  </div>

  <div id='terms' class="bg-modal" style="display:none">
    <div class="modal-content">
      <h5 class="w3-container" style="text-align:center"><b>Welcome!</b></h5>
      <p class="w3-container" style="width:490px;height:175px;overflow:auto;">
        I hope this tool helps your PR journey. I know. its hard. lemme help u bro.
      </p>
      <button class="w3-button w3-xlarge w3-text-black w3-hover-blue" style="width:100%;" onclick="login_pop()">
        Let's Get Started!!!!!!
      </button>
    </div>
  </div>
  <div id='login_popup' class="bg-modal" style="display:none">
    <div class="modal-content">
      <form action="{{ url_for('login') }}" method="post">
        <label for="username" style = "font-size:20px;padding-left:20px;"> Username</label>
        <input id="username" type="text" name="username" style="width:95%;padding-left:10px;"placeholder="Enter Username (Required)" required>
        <label for="password" style = "font-size:20px;padding-left:20px;">Password</label>
        <input id="password" type="text" name="password" style="width:95%;padding-left:10px;"placeholder="Enter Password (Required)" required>
        <button type="submit" style="width:80%; display: block; margin: 10px auto;" value="login"> Log in</button>
      </form>
      <button type = "signup" style="width:80%; display: block; margin: 10px auto;" value="New User" onclick="signup_pop()"> New User</button>
    </div>
  </div>
  <div id='signup_popup' class="bg-modal" style="display:none">
    <div class="modal-content" style = "height:420px; width:500px;">
      <form action="{{ url_for('signup') }}" method="post">
        <label for="new_username" style = "font-size:20px;padding-left:20px;"> New Username</label>
        <input id="new_username" type="text" , name="new_username" placeholder="Enter New Username (Required)" required>
        <label for="password" style = "font-size:20px;padding-left:20px;"> Password</label>
        <input id="password" type="text" name="password" placeholder="Enter Password (Required)" required>
        <label for="email" style = "font-size:20px;padding-left:20px;"> Email</label>
        <input id="email" type="text" name="email" placeholder="Enter Email (Required)" required>
        <button type="submit" style="background-color:blue; width:80%; display: block; margin: 10px auto;" value="login"> Register</button>
      </form>
      <button type = "back_to_login" value="login_back" style="cursor:pointer; color:white; border:none; padding: 14px 20px; background-color:#04AA6D; width:80%; display: block; margin: 10px auto;" onclick="back_to_login  ()"> Back to Login</button>
    </div>
  </div>

</body>

</html>